<div class="container-fluid" block-ui="main">	
	<div ng-app="ReConnectApp" ng-controller="AnnounceMainController" class="ngCloak">
		<div class="row">
			<form name="editableForm" class="form-horizontal">
			<div ng-include="'../SiteAssets/reconnect/templates/breadcrumb.tpl.html'"></div>
			
			
			<nav class="navbar navbar-info">
				<ul class="nav navbar-nav">
					<h4>Shangri-La Announcement</h4>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<input ng-model="q" id="search" class="form-control" placeholder="Quick Find..." aria-describedby="basic-addon1">
				</ul>
			</nav>

			
			
			<div class="row">
				<div class="col-xs-2">
					<a href="#/AnnounceCreate/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-circle-arrow-right"></span> Create Announcement</a>					
				</div>
				<div class="col-xs-4">
					<div class="newsDetailContiner">
                    	<div class="newsDetailDiv1">
							<span ng-click="clickToSearch()" style="cursor:pointer;"><img src="https://shangrila.sharepoint.com/sites/reconnect/SiteAssets/reconnect/images/search-icon-01.png"></span>							
                    	</div>
                    	<div class="newsDetailDiv2">
							<input type='text' ng-model="FormData.FromDate" ng-click="clickToSearch()" style="cursor:pointer;" readonly id="FromDate" class="input-xs" placeholder="Posted From">
                    	</div>
                    	<div class="newsDetailDiv3">
							<input type='text' ng-model="FormData.ToDate" ng-click="clickToSearch()" style="cursor:pointer;" readonly id="ToDate" class="input-xs" placeholder="Posted To">
                    	</div>		
                    	<div class="newsDetailDiv1">
							<input type='hidden' ng-model="FormData.Division.id" ng-click="clickToSearch()" style="cursor:pointer;" readonly id="Division" class="input-xs" placeholder="Division">
							<input type='text' ng-model="FormData.Division.text" ng-click="clickToSearch()" style="cursor:pointer;" readonly id="Division" class="input-xs-text" placeholder="Division">

                    	</div>																	
					</div>					
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div dir-paginate="item in master | orderBy: '-Created' | filter:q |  itemsPerPage: pageSize" current-page="currentPage">
						<div class="col-sm-8">
							<div style="height:200px;">
								<h4>
								<!--<img src="https://shangrila.sharepoint.com/sites/reconnect/SiteAssets/reconnect/images/new.gif">-->
								
								<strong><a href="#/AnnounceDetail/{{item.ID}}/">{{ item.Title | limitTo: 100 }} {{ item.Title.length > 100 ? '...' : '' }}</a></strong>
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<div id="divLikeCount" class="newsDetailDiv2 badge">{{(item.LikesCount == null ? 0 : item.LikesCount)}}</div>

								</h4>
								
								<h4>[Expiry Date: {{ item.ExpiryDate | date:"dd-MM-yyyy" }}]</h4>
								<h5>{{getDivisionNameByCode(item.Division)}}</h5>
								<!--<h5>{{ item.Description| limitTo: 100 }} {{ item.Title.length > 100 ? '...' : '' }}</h5>
								-->
								
								<h5><div ng-bind-html="item.Description |  limitTo: 100 |  unsafe "></div></h5>
								
								
								
							</div>				
						</div>
						<div class="col-sm-4">
							<div style="height:200px;">
								<h6><small>Posted by {{ item.Author.Title }}  {{ item.Created | date:"dd-MM-yyyy" }}</small> <a href="#/AnnounceEdit/{{item.ID}}/">[Edit]</a></h6>
							<!--	<div class="glyphicon glyphicon-thumbs-up" id="like-unlike-button"></div>
								<div id="divLikeCount" class="newsDetailDiv2 badge">{{(item.LikesCount == null ? 0 : item.LikesCount)}}</div>
-->
							</div>
						</div>	

					</div>		
				</div>
			</div>
			
			<div class="row">
				<nav class="navbar navbar-info">
					<ul class="nav navbar-nav">
						<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../SiteAssets/reconnect/templates/AnnouncedirPagination.tpl.html"></dir-pagination-controls>
						<p>
						<span>Total No of Records:  <span class="badge"> {{total}} </span></span>
					</ul>
				</nav>	
			</div>
	
			</form> 			
			<div ng-include="'../SiteAssets/reconnect/templates/footer.tpl.html'"></div>			
		</div>
	</div>
</div>