<!--<div class="navbar navbar-light" style="padding-left: -20px; background-color: #e3f2fd; box-shadow: 4px 4px 10px #888888">
    <div class="navbar-header">
        
        <div class="container">
            
    
            <a ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

    
            <div collapse="navCollapsed" class="nav-collapse .collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/">ReConnect</a></li>
                    <li class="divider-vertical"></li>
                    <li class="active"><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#/NewsMain"><span class="glyphicon glyphicon-thumbs-up"></span> News</a></li>
                    <li><a href="#/AnnounceMain"><span class="glyphicon glyphicon-bullhorn"></span> Announcement</a></li>
                    <li><a href="#/DivPage"><span class="glyphicon glyphicon-globe"></span> Division Page</a></li>
                    <li><a href="https://shangrila.sharepoint.com/sites/peopledirectory" target="_blank"><span class="glyphicon glyphicon-user"></span> People</a></li>
                    <li><a href="https://shangrila.sharepoint.com/search" target="_blank"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="#/UsefulLink"><span class="glyphicon glyphicon-info-sign"></span> Useful Links</a></li>
                </ul>
            </div>
    
        </div>
    
    </div>
    
</div>

-->

<nav class="navbar navbar-light " style="background-color: #e3f2fd; box-shadow: 4px 4px 10px #888888">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">ReConnect</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#/NewsMain"><span class="glyphicon glyphicon-thumbs-up"></span> News</a></li>
            <li><a href="#/AnnounceMain"><span class="glyphicon glyphicon-bullhorn"></span> Announcement</a></li>
            <li><a href="#/DivPage"><span class="glyphicon glyphicon-globe"></span> Division Page</a></li>
            <li><a href="https://shangrila.sharepoint.com/sites/peopledirectory" target="_blank"><span class="glyphicon glyphicon-user"></span> People</a></li>
            <li><a href="https://shangrila.sharepoint.com/search" target="_blank"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding-right:20px; !important; ">
            <li><a href="#/UsefulLink"><span class="glyphicon glyphicon-info-sign"></span> Useful Links</a></li>
        </ul>
    </nav>

    
