<div class="container" block-ui="main">  	
    <div ng-app="ReConnectApp" class="ng-cloak">
        <div class="row">	
                <div ng-include="'../SiteAssets/reconnect/templates/breadcrumb.tpl.html'"></div>
                <br>
                <h1>Something Went Wrong !</h1>
                Please try again later.  If the problem still persists, please contact your local system administrator,<br>
                or create a helpdesk ticket under <a href="https://helpdesk.shangri-la.com/" target="_blank">https://helpdesk.shangri-la.com/</a>

                <div ng-include="'../SiteAssets/reconnect/templates/footer.tpl.html'"></div>
        </div>
    </div>
</div>

